@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}

.bg-page-color {
  background-color: #dddddd;
}

.border-gray-default {
  border-color: #cccccc;
}

.text-gray-normal {
  color: #777777;
}
